# The script presume the following information is provided for each test case
#
# | ENV      | Description                          | Example                 | Option    |
# |----------|--------------------------------------|-------------------------|-----------|
# | DRIVER     | The default driver program           | java_subroutine         | Parameter |
# | OPTIONS  | The options passed to ${PROG}        | "-L '*.j'"              | Optional  |
# | ENTRY    | The entry point to start testing     | binaryReal              | Required  |
# | ARGS     | The arguments passed to ${ENTRY}     | '8 "\#"  1234 "." 43'   | Optional  |
# | INPUT    | The filename contain the input       |                         | Optional  |
# | OUTPUT   | The filename of the expected output  |                         | Optional  |
# | RETVAL   | The expected return value            | 0                       | Optional  |
#
# Notes:
#    - the value of PROG can provided va the associated function call to the testing function
#    - the value of INPUT can either be a string or a filename
#    - the value of OUTPUT can either be a string or a filename
#
# Given the above example, the following command will be executed.
#   NOTE: Ensure you conform to bash quoting rules
#
# cat ${INPUT} | ${PROG} ${OPTIONS} ${ENTRY} ${ARGS} 

[global]
OPTIONS=
ENTRY=echo
INPUT=  

[default]
DRIVER=eval
ENTRY=echo


[case]
ARGS='hello this is a test case'
OUTPUT="hello this is a test case"
RETVAL=10


# [case]
# ARGS='10 \# "1234\0" . 4321'   
# OUTPUT="2# 10011010010.01101110100111100001101"
# RETVAL=10

# [case]
# ARGS='16 \# FACE . DEAF
# OUTPUT="2# 1111101011001110.11011110101010110011011"
# RETVAL=16

# [case]
# ARGS='8 \# "1234\0" . 43'   
# OUTPUT="2# 1010011100.10001010001111010111000"
# RETVAL=8

# [case]
# ARGS='8 \# 1234 . 4300000'   
# OUTPUT="2# 1010011100.100011"
# RETVAL=8




