# Grading Report
# Github Account: smf-steve
# Assignment: "01-first-assignment"
# Assignment ID: "01"
# --- Due Date:        "Jan 27 23:59:59"
# --- Submission Date: "Jan 27 20:31:52"
# --- Tag & Hash:      "submission (515b47c)"

  50 Points:            Submission (50 points): 
   0 Points:            Minimal Number of Commits (10 points): only 2 commits?
  10 Points:            Name (10 points): 
  10 Points:            GitHub Account (10 points): 
  10 Points:            Answering questions (20 points):          you removed all of the response tags -- yielding no answers
---
 80 Points:             Total

ASSIGNMENT_02_total="80"

## $ git log --graph  --oneline
### The following is not part of the grade report
*   4a7b68e (HEAD -> main, origin/main, origin/HEAD) Merge branch 'grading'
|\  
| \
|  * f6964a0 (origin/grading, grading) Added Student Grade and Stats Report
|  * 94cdd72 Added Answers File
*  | 6ea77a6 Fixed misspelling
*  | 02e70df Assignment 2
*  | 8dbc9af remove
*  | 4c0964c Update submission.md
| /
|/  
* 2cf6f29 (tag: submission) some message
* ec49b55 creating file
* 27f316b some message
* 7f8ad81 creating file
* 1ad2882 Initial commit

